@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  min-width: 1220px;
  background: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

/*Шапка*/
.reasons {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

/*Навигация*/
.navigation {
  width: 1060px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 46px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 23px;
  padding-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-transform: none;
}

.navigation li {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation a {
  text-decoration: none;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list .main:hover {
  color: #756257;
}

.navigation-list .main:focus {
  color: #000000;
}

.navigation-list .main:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation .main {
  position: relative;
}

.main::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #000000;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.main:active::after {
  background-color: #756257;
}

.sedona {
  padding-left: 34px;
  padding-right: 34px;
}

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-left: auto;
  color: #333333;
}

.navigation-link-search {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.navigation-link-search:hover svg {
  fill: #756257;
}

.navigation-link-search svg {
  fill: #000000;
}

.navigation-link-search:active svg {
  color: #756257;
  opacity: 0.3;
}

.navigation-link-favorite {
  display: inline-block;
  width: 18px;
  height: 17px;
  position: relative;
  margin-right: 33px;
  margin-left: 24px;
}

.navigation-link-favorite:hover svg {
  fill: #756257;
}

.navigation-link-favorite svg {
  fill: #000000;
}

.navigation-link-favorite:active svg {
  color: #756257;
  opacity: 0.3;
}

.favorite-number {
  position: absolute;
  top: -22px;
  background: #7DB54F;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 2.5px;
  margin-left: 13px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.number-text:active {
  color: #FFFFFF;
  opacity: 0.3
}

/*Фон обложка*/
.style {
  background-image: url("../images/index-background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding-top: 47px;
}

.welcome-pic {
  background-image: url("../images/welcome.png");
  background-repeat: no-repeat;
  width: 458px;
  height: 375px;
  margin-left: 371px;
  padding-top: 52px;
}

.welcome-line {
  background-image: url("../images/welcome-white-line.png");
  background-repeat: no-repeat;
  width: 1200px;
  height: 57px;
  margin: 0;
}

.button {
  width: 160px;
  height: 37px;
  background-color: #756257;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 14px;
  border: none;
}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
  border: 3px solid #83B3D3;
}

.button:active {
  background: #615048;
}

.button-text:active {
  color: rgba(255, 255, 255, 0.3);
}


/*Заголовок*/
.promo {
  width: 1200px;
  background-color: #ffffff;
  padding-top: 63px;
  padding-bottom: 80px;
  text-align: center;
}

.promo .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.promo .reasons {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-transform: none;
  padding-top: 31px;
  margin: 0;
}

/*Преимущества*/
.description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
}

.city-description {
  width: 400px;
  color: #ffffff;
  background: #83B3D3;
  text-align: center;
  float: left;
  margin: 0;
}

.description-text {
  padding-top: 98px;
  padding-bottom: 87px;
  margin: 0;
  color: #fff;
  text-align: center;
}

.text {
  text-transform: none;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding-left: 75px;
  padding-right: 75px;
}

.text-sedona {
  font-weight: normal;
  padding-left: 90px;
  padding-right: 90px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
  margin: 0;
}

.subtitle {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

/*Иконки*/
.city-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333333;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.city-features .subtitle {
  color: #000000;
  padding-bottom: 18px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.block:last-child {
  margin-right: 0;
}

.block-home {
  background-color: rgba(131, 179, 211, 0.12);
  float: left;
  width: 400px;
  margin-right: 0;
}

.block-food {
  background-color: rgba(131, 179, 211, 0.2);
  float: left;
  width: 400px;
}

.block-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
  float: left;
  width: 400px;
  margin-right: 0;
}

.city-text {
  text-align: center;
  padding-bottom: 88px;
  margin: 0;
}

.icon {
  width: 100%;
  height: 75px;
  background-size: 69px 72px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 21px;
}

.feature-home {
  background-image: url("../images/home.png");
  margin-top: 88px;
}

.feature-food {
  background-image: url("../images/food.png");
  margin-top: 90px;
}

.feature-souvenir {
  background-image: url("../images/souvenir.png");
  margin-top: 87px;
}

.number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  text-align: center;
}

/*Мост дьявола*/
.devil-bridge {
  width: 400px;
  color: #ffffff;
  background: #83B3D3;
  text-align: center;
  float: right;
  margin: 0;
}

.devil-bridge-description {
  padding-top: 98px;
  padding-bottom: 87px;
  margin: 0;
  color: #fff;
  text-align: center;
}


/*Достопримечательности*/
.trip-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trip-features .subtitle {
  color: #000000;
  padding-top: 98px;
}

.trip-text {
  padding-bottom: 108px;
  text-align: center;
  margin: 0;
}

.road-text {
  padding-bottom: 108px;
  text-align: center;
  margin: 0;
}

.tourists-text {
  padding-bottom: 108px;
  text-align: center;
  margin: 0;
}

.block-square {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  margin: 0;
}

.block-road {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  margin: 0;
}

.block-tourists {
  background-color: rgba(131, 179, 211, 0.1);
  width: 400px;
  margin: 0;
}

/*Даты поездки*/
.interest {
  width: 1200px;
  padding-bottom: 93px;
}

.dates {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 91px;
  color: #000000;
  margin: 0;
}

.tour-dates {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 56px;
  text-transform: none;
  margin: 0;
}

.hotel-search {
  width: 575px;
  height: 60px;
  background-color: #756257;
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin-top: 56px;
  padding: 0;
  margin: 0;
  border: 0;
}

.hotel-search:hover {
  background: #615048;
}

.hotel-search:focus {
  background: #615048;
  border: 3px solid #83B3D3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hotel-search:active {
  background: #615048;
}

.sedona-hotel-search-text:active {
  color: #ffffff;
  opacity: 0.3;
}

/*Рассылка*/
.email {
  width: 1200px;
  background-image: url("../images/background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 93px;
}

.send-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.subscription {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 94px;
  margin: 0;
}

.email .no-spam {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: none;
  padding-top: 29px;
  padding-bottom: 46px;
  color: #ffffff;
  margin: 0;
}

.type-form {
  height: 60px;
  background-color: #f2f2f2;
  width: 600px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
  border: none;
  margin: 0;
  padding: 0 22px;
  border-radius: 10px 0px 0px 10px;
}

.type-form:hover {
  background: #E6E6E6;
}

.type-form:focus {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
}

.type-form:invalid {
  background: #FFFFFF;
  border: 2px solid #FF5757;
}

.submit {
  width: 200px;
  height: 60px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0px 10px 10px 0px;
}

.submit:hover {
  background: #68A2CA;
}

.submit:focus {
  background: #68A2CA;
  border: 3px solid #756257;
}

.submit:active {
  background: #68A2CA;
  border: 0;
}

.submit-text:active {
  color: #FFFFFF;
  opacity: 0.3;
}

/*Подвал*/
.footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 72px;
  padding-right: 72px;
  margin: 0;
}

.footer li {
  list-style-type: none;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list-link {
  width: 40px;
  height: 40px;
  margin-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list-link:hover path {
  fill: #68A2CA;
}

.social-list-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.social-list-link:focus path {
  fill: #83B3D3;
}

.social-list-link:active {
  opacity: 0.3;
}

a[href^="tel:"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 39px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  width: 361px;
  height: 70px;
}

.tel:hover {
  color: #756257;
}

.tel:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.tel:active {
  color: #756257;
  opacity: 0.3;
  border: 0;
}

.html-logo {
  width: 160px;
  height: 70px;
  padding: 18px 22px;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.html-logo svg {
  fill: #000000;
}

.html-logo:hover svg {
  fill:#756257;
}

.html-logo:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.html-logo:active svg {
  opacity: 0.3;
}


/*Каталог шапка*/
.container-catalog {
  width: 1200px;
}

/*Фильтры*/
.catalog-filters {
  width: 1200px;
  background-image: url("../images/cover.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-left: 71px;
  padding-right: 71px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-top: 5px;
  margin: 0;
  list-style-type: none;
}

.links:hover {
  color: #ffffff;
  opacity: 0.6;
}

.links:focus {
  color: #ffffff;
}

.links:active {
  opacity: 0.3;
}

.links-item:not(:last-of-type) {
  padding-right: 26px;
  background: url("../images/breadcrumbs-arrow.svg") no-repeat right 10px center / 5px;
}

.links a {
  display: block;
  color: #ffffff;
  font-weight: 400;
}

.link-home {
  width: 12px;
  height: 12px;
  background: url("../images/home-link.svg") no-repeat center / contain;
}

.link-hotels {
  font-size: 16px;
  width: 73px;
  text-transform: none;
  text-decoration: none;
}

.hotel-name {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  padding-top: 35px;
  text-align: left;
  margin: 0;
  text-transform: none;
}

/* Title */
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  text-transform: none;
  padding-bottom: 30px;
}

.subtitle-hotel {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-transform: none;
}

/* Label */
.structure {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  text-transform: none;
  position: relative;
  display: block;
  padding-left: 36px;
}

.structure-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
}

.structure-mark-checked {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  background-image: url("../images/check-mark.png");
  background-repeat: no-repeat;
  color: #3F5E72;
  background-position: center;
}

.structure-input:hover + .structure-mark-checked {
  background-color: rgba(255, 255, 255, 0.6);
}

.structure-input:focus + .structure-mark-checked {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
}

.structure-input:active + .structure-mark-checked {
  background-color: rgba(255, 255, 255, 0.3);
}

.structure:hover .structure-mark {
  opacity: 0.6;
}

.structure-input:focus + .structure-mark {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.structure-input:active + .structure-mark {
  background: rgba(255, 255, 255, 0.3);
}

/* Radio */
.structure-input[type="radio"] + .structure-mark {
  border-radius: 50%;
}

.structure-input[type="radio"]:checked + .structure-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #3F5E72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 67px;
  text-align: left;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  padding-left: 0;
  margin-top: 0;
}

.catalog-filter-item {
  padding-bottom: 13px;
  list-style-type: none;
}

.catalog-filter-item:last-of-type {
  padding-bottom: 0;
}

.filter-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 93px;
  border: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding-top: 0;
  padding-right: 81px;
  padding-bottom: 0;
}

.price {
  padding-left: 0;
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: none;
  padding-bottom: 34px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.range {
  margin: 0;
  padding: 0;
}

.catalog-filter-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 50%;
}

.range-input {
  background-color: rgba(255,255,255,0);
  color: #ffffff;
  width: 100%;
  border: 2px solid #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-left: 19px;
}

.range-input:hover {
  opacity: 0.6;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.range-input:focus {
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 0px 3px #81B3D2;
          box-shadow: 0px 0px 0px 3px #81B3D2;
}

.range-input:active {
  background: #756257;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-filter-label:first-of-type input {
  border-radius: 4px 0 0 4px;
}
.catalog-filter-label:last-of-type input {
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.range-wrapper-inputs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 287px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-class {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  opacity: 0.3;
  text-transform: lowercase;
  left: 112px;
  top: 12px;
}

/* Range */
.range-scale {
  position: relative;
  height: 4px;
  margin-top: 32px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  width: 227px;
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  margin-bottom: 87px;
}

.range-toggle {
  position: absolute;
  height: 20px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  background: #FFFFFF;
  border: 3px solid #83B3D3;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle-active {
  background: #FFFFFF;
  border: 2px solid #83B3D3;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  right: -1px;
}

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 45px;
  padding-bottom: 84px;
  border: none;
  margin: 0;
}

.catalog-buttons {
  padding-left: 0;
}

.submit-button {
  width: 160px;
  height: 48px;
  margin-top: 60px;
  margin-right: auto;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background: #83B3D3;
  border-radius: 4px;
  border: none;
  padding: 0;
}

.submit-button:hover {
  background: #68A2CA;
}

.submit-button:focus {
  background: #68A2CA;
  border: 3px solid #FFFFFF;
}

.submit-button:active {
  background: #68A2CA;
}

.submit-button-text:active {
  color: #ffffff;
  opacity: 0.3;
}

.reset-button {
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  background-color: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  text-align: center;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

/*Модули*/

.sorting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1057px;
  text-align: center;
  margin-left: 71px;
  margin-right: 72px;
  padding-top: 44px;
}

.catalog .subtitle {
  color: #000000;
  width: 100%;
  text-align: left;
}

.catalog-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  padding-right: 40px;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
}

.hotel-choice {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 73px;
  padding-left: 19px;
  padding-right: 21px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../images/vector-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
}


.hotel-choice:hover {
  border: 2px solid #83B3D3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hotel-choice:focus {
  border: 2px solid #83B3D3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hotel-choice:active {
  border: 2px solid #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333333;
  opacity: 0.3;
}

.modes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modes a {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: 8px;
  background-repeat: no-repeat;
  background-position: center;
}

.modes a:hover {
  border: 2px solid #83B3D3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modes a:focus {
  border: 2px solid #83B3D3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modes a:active {
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mode-tile {
  background-image: url("../images/tile.svg");
}

.mode-slideshow {
  background-image: url("../images/slideshow.svg");
}

.mode-list {
  background-image: url("../images/list.svg");
}



.catalog .subtitle {
  color: #000000;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  padding-top: 53px;
  padding-right: 72px;
  padding-left: 72px;
  list-style-type: none;
  margin: 0;
}

.catalog-list li {
  width: 340px;
  padding: 20px;
  margin-right: 18px;
  margin-bottom: 10px;
}

.catalog-list li:nth-of-type(3n) {
  margin-right: 0;
}

.catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 18px;
  width: 100%;
  margin-top: 0;
}

.hotel-img:hover {
  opacity: 0.6;
}

.hotel-img:focus {
  border: 3px solid #83B3D3;
}

.hotel-img:active {
  opacity: 0.3;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more {
  width: 133px;
  height: 37px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  float: left;
  background: #756257;
  border-radius: 4px;
  margin-right: 26px;
  border: none;
}

.more:hover {
  background: #615048;
  border: 3px solid #83B3D3;
}

.more:focus {
  background: #615048;
}

.more:active {
  background: #615048;
}

.more-text:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.favourite {
  width: 140px;
  height: 37px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82B3D3;
  border-radius: 4px;
  float: left;
  border: none;
}

.favourite:hover {
  background: #68A2CA;
  border: 3px solid #756257;
}

.favourite:focus {
  background: #68A2CA;
  border: 1px solid #756257;
}

.favourite:active {
  background: #68A2CA;
  border: 1px solid #756257;
}

.favourite-text:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.favourite-diablo {
  color: #ffffff;
  background: #7DB54F;
  border-radius: 4px;
  width: 140px;
  height: 37px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  float: left;
  border: none;
}

.favourite-diablo:focus {
  background: #6C9E42;
  border: 3px solid #756257;
}

.favourite-diablo:hover {
  background: #6C9E42;
}

.favourite-diablo:active {
  background: #6C9E42;
}

.favourite-text-diablo:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.text-catalog {
  width: 50%;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  text-transform: none;
  width: 143px;
}

.star-amara {
  background-image: url("../images/rate-4.png");
  background-repeat: no-repeat;
  width: 91px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-top: 26px;

}

.star-desert {
  background-image: url("../images/rate-3.png");
  background-repeat: no-repeat;
  width: 72px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-top: 26px;
}

.star-villas {
  background-image: url("../images/rate-2.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-top: 26px;
}

.star-green {
  background-image: url("../images/rate-2.png");
  background-repeat: no-repeat;
  width: 43px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-top: 26px;
}

.text-raiting {
  width: 160px;
  height: 37px;
  color: #333333;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  float: right;
  background: #F2F2F2;
  border-radius: 4px;
  padding-top: 9px;
}

.load-button {
  width: 620px;
  height: 60px;
  background: #83B3D3;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 68px;
  margin-top: 64px;
}

.load-button:hover {
  background: #68A2CA;
}


/*Пагинация*/
.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  background-color: #ffffff;
  list-style-type: none;
  padding-left: 71px;
  padding-right: 73px;
  padding-top: 38px;
  padding-bottom: 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-item {
  width: 55px;
  height: 55px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-item:not(:first-of-type) {
  margin-right: 8px;
  background-color: #83B3D3;
}

.pagination-item:not(:first-of-type):hover {
  background: #68A2CA;
}

.pagination-item:not(:first-of-type):focus {
  background: #68A2CA;
  border: 3px solid #756257;
}

.pagination-item:not(:first-of-type):active {
  background: #68A2CA;
}

.pagination-item:first-of-type {
  margin-left: 0;
  background-color: #F2F2F2;
  margin-right: 8px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-item:first-of-type:active {
  background: #F2F2F2;
}

.page-number {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-number:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.choice {
  width: 160px;
  height: 48px;
  margin-left: 51px;
  padding-left: 17px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../images/vector-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
}

.text-quantity {
  font-size: 18px;
  line-height: 23px;
  width: 175px;
  color: #333333;
  text-transform: none;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}


/*Рассылка*/
.email-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1200px;
  padding-bottom: 140px;
}

.index-send-form-catalog {
  background-color: #ffffff;
  width: 1200px;
}

.subscription-catalog {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.no-spam-catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: none;
  padding-top: 29px;
  padding-bottom: 46px;
  color: #000000;
  margin: 0;
}

/*Модальное окно*/
.modal-background {
  display: none;
  background-color: rgba(242, 242, 242, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-window {
  position: absolute;
  width:715px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-top: 63px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  opacity: 1;
}

.modal-window-header {
  padding-bottom: 51px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 0;
  margin: 0;
  float: left;
}

.modal-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: none;
  text-align: left;
  width: 155px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-btn-text {
  width: 575px;
  height: 60px;
  background: #83B3D3;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  border: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.search-btn-text:hover {
  background: #68A2CA;
}

.search-btn-text:focus {
  background: #68A2CA;
  border: 3px solid #756257;
}

.search-btn-text:active {
  background: #68A2CA;
}

.search-btn-text:active {
  color: #ffffff;
  opacity: 0.3;
}

.number-people {
  width: 133px;
  background: #F2F2F2;
  border-radius: 4px;
  border: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.recount {
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.minus {
  position: absolute;
  width: 1px;
  left: 19px;
  top: 18px;
  border: none;
  padding: 0;
  color: #000000;
  opacity: 0.3;
}

.minus:hover {
  color: #000000;
  opacity: 1;
}

.minus:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #83B3D3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #000000;
  opacity: 1;
}

.plus {
  position: absolute;
  width: 1px;
  top: 18px;
  left: 110px;
  border: none;
  padding: 0;
  color: #000000;
  opacity: 0.3;
}

.plus:hover {
  color: #000000;
  opacity: 1;
}

.plus:focus {
  width: 25px;
  height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #83B3D3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #000000;
  opacity: 1;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grown-ups-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 288px;
  height: 50px;
  margin-right: 56px;
  float: right;
}

.dates-text {
  color: #FF5757;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: left;
  padding-left: 155px;
  padding-top: 0;
  margin: 0;
  text-transform: none;
}

.kids-number {
  position:relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  float: left;
}

.kids-number .modal-text {
  width: 97px;
}

.dates-arrival {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 575px;
  height: 50px;
}

.dates-leaving {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 575px;
  height: 50px;
  margin-top: 11px;
}

.leaving-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
  text-transform: none;
  padding-left: 65px;
  padding-bottom: 11px;
  margin: 0;
}

.tour-dates-modal {
  width: 420px;
  border: 0;
  background: #F2F2F2;
  border-radius: 4px;
  padding-left: 19px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tour-dates-modal:hover {
  background: #E6E6E6;
  border-radius: 4px;
}

.tour-dates-modal:focus {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.tour-dates-modal:active {
  background: #FFFFFF;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.modal-close {
  background-image: url("../images/modal-close.svg");
  display: block;
  width: 53px;
  height: 53px;
  border: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background: #F2F2F2;
  color: #000000;
  margin-left: 522px;
  margin-top: -9px;
  text-align: center;
  padding-top: 8px;
}

.modal-close svg {
  fill: #000000;
}

.modal-close:hover {
  background: #E6E6E6;
}

.modal-close:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close:active {
  background: #E6E6E6;
}

.info {
  width: 25px;
  height: 25px;
  background: #83B3D3;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.triangle {
  position: absolute;
  top: -9px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #333333;
}

.info-text {
  display: none;
  position: relative;
  width: 256px;
  background: #333333;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  padding-top: 15px;
  padding-left: 22px;
  padding-right: 18px;
  padding-bottom: 18px;
  text-align: left;
}

.info:hover {
  background: #68A2CA;
}

.info:hover + .info-text {
  display: block;
}

.modal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 106px;
  bottom: 23px;
  top: 14px;
  left: 17px;
}
