@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

/*Шапка*/
.subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.reasons {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

/*Навигация*/
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0;
  padding: 0;
}

.navigation-navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation a {
  text-decoration: none;
  color: #000;
}

.navigation .main {
  text-decoration: underline;
}

.logo {
  display: block;
  margin: 0 auto;
}

.navigation li {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-header {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #ffffff;
  left: 40px;
  top: 0;
}

/*Заголовок*/

.promo .title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.promo .reasons {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

/*Преимущества*/

.cityDescription {
  width: 400px;
  height: 384px;
  color: #ffffff;
  background: #83B3D3;
  text-align: center;
  float: left;
}

.description-text {
  width: 290px;
  padding: 35px 55px 0;
  color: #fff;
}

.subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/*Иконки*/

.city-features .subtitle {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding-top: 12px;
}

.city-features p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 12px;
}

.block {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 384px;
}

.block:last-child {
  margin-right: 0;
}

.block-home {
  background-color: rgba(131, 179, 211, 0.12);
  float: left;
  width: 400px;
  height: 384px;
}

.block-food {
  background-color: rgba(131, 179, 211, 0.2);
  float: left;
  width: 400px;
  height: 384px;
}

.block-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
  float: left;
  width: 400px;
  height: 384px;
  margin-right: 0;
}

.icon {
  width: 76px;
  height: 76px;
  margin: 0 auto;
  background-repeat: no-repeat;
  }

.feature-home {
  background-position: 0 -304px;
  background-image: url("../images/home.png");
}

.feature-food {
  background-position: 0 0;
  background-image: url("../images/food.png");
}

.feature-souvenir {
  background-position: 0 -152px;
  background-image: url("../images/souvenir.png");
}

.number {
  padding: 130px 120px 0;
}


/*Мост дьявола*/
.devilBridge {
  width: 400px;
  height: 384px;
  color: #ffffff;
  background: #83B3D3;
  text-align: center;
  float: right;
}

.devilBridge-description {
  width: 290px;
  padding: 35px 55px 0;
  color: #fff;
}

/*Достопримечательности*/

.trip-features .subtitle {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding-top: 12px;
}

.trip-features p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 12px;
}

.trip-text {
  width: 290px;
  padding: 35px 55px 0;
}

.road-text {
  width: 290px;
  padding: 35px 55px 0;
}

.tourists-text {
  width: 290px;
  padding: 35px 55px 0;
}

.block-square {
  background-color: rgba(131, 179, 211, 0.12);
  float: left;
  width: 400px;
  height: 384px;
}

.block-road {
  background-color: rgba(131, 179, 211, 0.2);
  float: left;
  width: 400px;
  height: 384px;
}

.block-tourists {
  background-color: rgba(131, 179, 211, 0.1);
  float: left;
  width: 400px;
  height: 384px;
  margin-right: 0;
}

/*Даты поездки*/

.dates {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 91px;
}

.tourDates {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-bottom: 55px;
}

.hotel-search {
  width: 575px;
  height: 60px;
  background-color: #756257;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/*Главная кнопка*/

.button {
  width: 160px;
  height: 37px;
  background-color: #756257;
  color: #ffffff;
  text-transform: uppercase;
}

/*Рассылка*/

.send-form {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
}

.type-form {
  width: 600px;
  height: 60px;
}

.subscription {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 108px;
  padding-top: 94px;
}

.no-spam {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  padding-top: 29px;
}


.submit {
  width: 200px;
  height: 60px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 0;
}

/*Подвал*/
.footer {
  background-color: #ffffff;
  width: 1200px;
  height: 120px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-list {
  display: flex;
  flex-direction: row;
  width: 107px;
  height: 18px;
  text-align: left;
  justify-content: space-between;
}

.tel  {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  color: #000000;
  text-decoration: none;
}

.html-logo {
  width: 115px;
  height: 33px;
  float: right;
  margin-top: 0;
}















/*Каталог*/
.catalog {
  display: block;
  justify-content: space-between;
}

/*Поиск*/
.search {
  font-size: 20px;
  line-height: 36px;
}

.search-hotels {
 text-align: center;
}

.search {
  width: 575px;
  height: 60px;
  background-color: #756257;
  color: #ffffff;
  text-transform: uppercase;
}
